# ------------------
# ansible originator
# ------------------

{% for h in ansible_play_hosts_all | sort %}
Host {{ h }}
  HostName {{ hostvars[h].vm_ip }}
	User {{ incus_provision_user }}
  StrictHostKeyChecking no
  User_KnownHostsFile /dev/null

{% endfor %}
