# ------------------
# ansible originator
# ------------------

{% for h in ansible_play_hosts_all | sort %}
Match Host {{ h }}
  HostName {{ hostvars[h].ansible_host }}
	User {{ incus_provision_user }}
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null

{% endfor %}
