#cloud-config
package_update: true
package_upgrade: false
packages:
  - openssh-server

runcmd:
   systemctl enable ssh.socket
 - usermod -p "" -s /usr/bin/bash "{{ incus_provision_user }}"
 - passwd -u "{{ incus_provision_user }}"
   
users:
  - name: "{{ incus_provision_user }}"
    ssh_authorized_keys:
      -  "{{ incus_ssh_pubkey }}"
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: sudo
    lock_passwd: false

ssh_pwauth: false
